/* App.css */

/* Definindo a paleta de cores para os modos */
:root {
  --primary-color-light: #223746; /* Azul mais intenso - modo claro */
  --secondary-color-light: #eaebec; /* Cinza claro suave - modo claro */
  --accent-color-light: #16a085; /* Verde suave - modo claro */
  --background-color-light: #b1b1b1; /* Fundo branco - modo claro */
  --text-color-light: #2c3e50; /* Texto escuro - modo claro */

  --primary-color-dark: #1abc9c; /* Azul esverdeado - modo escuro */
  --secondary-color-dark: #34495e; /* Cinza escuro - modo escuro */
  --accent-color-dark: #032e25; /* Verde suave - modo escuro */
  --background-color-dark: #2c3e50; /* Fundo escuro - modo escuro */
  --text-color-dark: #ecf0f1; /* Texto claro - modo escuro */
}

/* Resetando algumas configurações padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Contêiner principal */
.App {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: all 0.3s ease; /* Animação suave para troca de tema */
}

/* Modo Escuro */
.App.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

/* Estilos para a navegação */
.navbar {
  background-color: var(--primary-color-light);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.App.dark-mode .navbar {
  background-color: var(--primary-color-dark);
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar-item {
  font-size: 1.2rem;
}

.navbar-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.navbar-link:hover {
  background-color: var(--accent-color-light);
}

.App.dark-mode .navbar-link:hover {
  background-color: var(--accent-color-dark);
}

/* Estilos para o título principal */
.home-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color-light);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.App.dark-mode .home-title {
  color: var(--primary-color-dark);
}

/* Botão de alternância de tema */
.theme-toggle-btn {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: var(--secondary-color-light);
  border-radius: 15px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.App.dark-mode .theme-toggle-btn {
  background-color: var(--secondary-color-dark);
}

.theme-toggle-btn::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.App.dark-mode .theme-toggle-btn::before {
  transform: translateX(30px);
}

/* Ícones */
.sun-icon, .moon-icon {
  font-size: 1.3rem;
  color: #580202;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}

/* Exibir o ícone do sol no modo claro */
.App:not(.dark-mode) .sun-icon {
  opacity: 1;
}
.App:not(.dark-mode) .moon-icon {
  opacity: 0;
}

/* Exibir o ícone da lua no modo escuro */
.App.dark-mode .sun-icon {
  opacity: 0;
}
.App.dark-mode .moon-icon {
  opacity: 1;
}


/* Crachás */
.badge-container {
  background-color: var(--secondary-color-light);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

.App.dark-mode .badge-container {
  background-color: var(--secondary-color-dark);
}
.badge-container:hover {
  transform: translateY(-8px);
}

.App.dark-mode .badge-title {
  color: var(--primary-color-dark);
}
/* Adicionando estilo para a exibição em linha */
.badge-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px; /* Distância entre os crachás */
  margin-top: 20px;
}

.badge-list .badge-container {
  width: 400px; /* Definindo uma largura fixa para os crachás */
  margin: 10; /* Remover margem adicional */
}

.badge-title {
  font-size: 1.7rem;
  color: var(--primary-color-light);
  font-weight: bold;
  margin-bottom: 12px;
}

.App.dark-mode .badge-title {
  color: var(--primary-color-dark);
}

.qr-code-container {
  margin: 18px 0;
  text-align: center;
}

.delete-btn, .edit-btn, .print-btn {
  background-color: var(--primary-color-light);
  color: white;
  border: none;
  padding: 12px 20px;
  margin-top: 15px;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: bold;
  
}

.App.dark-mode .delete-btn, .App.dark-mode .edit-btn, .print-btn {
  background-color: var(--primary-color-dark);
}

.delete-btn:hover, .edit-btn:hover, .print-btn:hover {
  background-color: var(--accent-color-light);
}

.App.dark-mode .delete-btn:hover, .App.dark-mode .edit-btn:hover, .print-btn:hover {
  background-color: var(--accent-color-dark);
}

/* Estilos específicos para impressão */
@media print {
  /* Esconder tudo fora da área do crachá */
  body * {
    visibility: hidden;
  }

  /* Exibir somente os crachás */
  .badge-container, .badge-container * {
    visibility: visible;
  }

  /* Esconder os botões durante a impressão */
  .delete-btn, .edit-btn, .print-btn {
    visibility: hidden;
  }

  /* Definir o tamanho do crachá para a impressão */
  .badge-container {
    width: 100%; /* Ajuste conforme necessário */
    max-width: 500px; /* Defina o tamanho ideal para o crachá */
    page-break-before: always; /* Adiciona quebra de página antes do crachá */
  }

  /* Ajustar tamanho do QR Code para impressão */
  .qrcode img {
    width: 550px !important; /* Ajuste o tamanho conforme necessário */
    height: 550px !important;
  }

  /* Opcional: Defina a margem da página para evitar cortes */
  @page {
    margin: 5mm; /* Ajuste conforme necessário */
  }

  /* Remover bordas, sombreamentos ou outras estilizações desnecessárias para impressão */
  .badge-container {
    padding: 30; /* Ajuste conforme necessário */
  }
}




/* Estilos do formulário */
.badge-form-container, .badge-edit-form {
  background-color: var(--secondary-color-light);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.App.dark-mode .badge-form-container, .App.dark-mode .badge-edit-form {
  background-color: var(--secondary-color-dark);
}

.badge-form label, .badge-edit-form label {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--primary-color-light);
}

.App.dark-mode .badge-form label, .App.dark-mode .badge-edit-form label {
  color: var(--primary-color-dark);
}

.badge-form input, .badge-edit-form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  background-color: var(--accent-color-light);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: 0.3s ease;
  font-weight: bold;
}

.App.dark-mode .submit-btn {
  background-color: var(--accent-color-dark);
}

.submit-btn:hover {
  background-color: var(--primary-color-light);
}

.App.dark-mode .submit-btn:hover {
  background-color: var(--primary-color-dark);
}

.success-message {
  color: var(--accent-color-light);
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Responsividade aprimorada */
@media screen and (max-width: 768px) {
  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .badge-container {
    max-width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .badge-list {
    grid-template-columns: 1fr;
  }
}
